<h2>AHP-OS - Rational Decision making made easy</h2>
<div class='entry-content'>
<p>Here you find examples of decision problems, structured as a hierarchy. 
With a click on the link the corresponding hierarchy will be shown in the <a href="ahp-hierarchy.php">AHP online tool</a></p>

<h3>Example 1: Buy MP3 Player</h3>
<p>Example from my AHP video on Youtube<br>
Link: <a href='ahp-hierarchy.php?sc=expl02'>Buy MP3 Player</a></p>
	1 hierarchy levels, 6 end nodes, 1 priority vectors 
<div>
<code><textarea name="hierarchy" rows="10" cols="78" >
Buy MP3 Player: Color, Memory, Delivery; 
Color: pink, blue, green, black, red;
Memory: 8 MB, 16 MB, 32 MB, 64 MB;
Delivery: immediate, one week, four weeks;</textarea></code>
</div>

<h3>Example 2: Buy a tablet computer</h3>
<p>Simple example to demonstrate the method<br>
Link: <a href='ahp-hierarchy.php?sc=expl01'>Buy a tablet computer</a></p>
	1 hierarchy levels, 6 end nodes, 1 priority vectors 
<div >
<code><textarea name="hierarchy" rows="10" cols="78" >
Buy tablet computer: display size, battery life, weight, design;
</textarea></code>
</div>

<h3>Example 3: Drinks consumed in the US</h3>
<p>Link: <a href='ahp-hierarchy.php?sc=nytusY' >Drinks consumed in the US</a><br>
1 hierarchy level(s), 7 end nodes. 1 AHP priority vector 
<div >
<code><textarea name="hierarchy" rows="10" cols="78" >
Drinks consumed in US: Coffee=0.17745695, Wine=0.01914863, Tea=0.04183306, Beer=0.11642521, Soda=0.18957337, Milk=0.12878625, Water=0.32677653;
</textarea></code>
</div>
Reference: Decision making with the analytic hierarchy process, Thomas L. Saaty, Int. J. Services Sciences, Vol. 1, No. 1, 2008, p 83-98
<h3>Example 4: New Project Development in Automotive Industry</h3>
<p>Link: <a href='ahp-hierarchy.php?sc=expl04'  >New Project Development in Automotive Industry</a><br>
1 hierarchy levels, 7 end nodes, 1 priority vectors</p>
<div>
<code><textarea name="hierarchy" rows="10" cols="78" >New Product Development: Budget, Sales Potential, Market Trend, 
Competitive Advantage, Technical Success, Commercial Success, Risk;</textarea></code>
</div>
Reference: New product development projects prioritization with Analytic Hierarchy Process in an automotive company, 
Valério Antonio Pamplona Salomon et al.

<h3>Example 5: Supplier Selection</h3>
<p>Link: <a href='ahp-hierarchy.php?sc=expl05'  >Supplier evaluation for purchase of 3rd party equipment & services</a><br>
2 hierarchy level, 11 end nodes, 4 priority vector</p>
<div >
<code><textarea name="hierarchy" rows="10" cols="78" >Supplier Selection: Price, Quality, Reliability, Service;
Quality: Product Variety, Product Quality Features, Production Quality;
Reliability: Management & Organization, References, Capital, Annual Turnover;
Service: Communication, Delivery Lead Time, Customization Capability;
</textarea></code>
</div>
Reference: Supplier Selection  Based on AHP Method, Thesis, Helsinki Metropolia University of Applied Science, 2013
<br>
Chengjing Jounio 

<h3>Example 6: Choosing a graduate school</h3>
<p>Link: <a href='ahp-hierarchy.php?sc=expl06'  >Choosing a graduate school</a><br>
2 hierarchy levels, 15 end nodes, 6 priority vectors 
<div>
<code><textarea name="hierarchy" rows="10" cols="78" >Choosing graduate school: Location=0.1731, Financial Incentive=0.0383, Ranking=0.0490, Degree Program=0.0286, Vibe=0.4198, Campus=0.0838, Faculty=0.2074;
Location: Distance=0.6444, Weather=0.2704, City/County=0.0852;
Ranking: Prestige=0.75, Numerical Ranking=0.25;
Campus: Grounds=0.0883, Labs=0.7171, Buildings=0.1946;
Faculty: Adviser=0.2, Rest of department=0.8;</textarea></code></div>
Reference: Mathematical Decision Making -An Overview of the Analytic Hierarchy Process, Steven Klutho

<h3>Example 7: Satisfaction with House</h3>
<p>Link: <a href='ahp-hierarchy.php?sc=expl08'  >Satisfaction with house</a><br>
1 hierarchy levels, 8 end nodes, 1 priority vector
<div>
<code><textarea name="hierarchy" rows="10" cols="78" >Satisfaction with house: Size of house=0.17301496, Transportation=0.05397584, 
Neighborhood=0.18810657, Age of house=0.01750819, 
Yard space=0.03104399, Modern facilities=0.03632262, General condition=0.16683835, Financing=0.33318948;
</textarea></code></div>
Reference: How to make a decision? The analytic hierarchy process. Saaty, European Journal of Operational Research 48 (1990) 9 - 26
</div>
<p></p>
